body {
    margin: 0;
    padding: 0;
    font: 75%/120% Arial, Helvetica, sans-serif;
}

#largeImg {
    border: solid 1px #ccc;
    width: 550px;
    height: 400px;
    padding: 5px;
}

#thumbs {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#thumbs img {
    border: solid 1px #ccc;
    width: 100px;
    height: 100px;
    padding: 3px;
    margin: 2px;
    display: block;
}

#thumbs li {
    list-style: none;
    float: left;
}

#thumbs span:hover {
    border-color: #FF9900;
}